cachelib==0.9.0
click==8.1.3
dash==2.9.3
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-extensions
dash-html-components==2.0.0
dash-table==5.0.0
EditorConfig==0.12.3
Flask==2.2.3
Flask-Caching==2.0.2
importlib-metadata==6.5.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsbeautifier==1.14.7
MarkupSafe==2.1.2
more-itertools==9.1.0
numpy
packaging==23.1
pandas
plotly
python-dateutil
pytz
six
tenacity
tzdata
Werkzeug
zipp
gunicron
